@import url("./footer.css");

body {
  margin: 0;
}
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.banner {
  position: relative;
  text-align: center;
  height: 150px;
  width: 100%;
}

/* M&A Inspiration */
h1 {
  position: absolute;
  font-family: Matura MT Script Capitals;
  font-size: 50px;
  color: white;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 992px) {
  h1 {
    margin-top: 5%;
    font-size: 30px;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    margin-top: 5%;
    font-size: 20px;
  }
}

.navbar {
  display: flex;
  overflow: hidden;
  background-color: #960700;
  font-family: Cambria (Headings);
}

/* home button */
.navbar a {
  font-size: 18px;
  color: white;
  padding: 14px 90px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

/* men women children button */
.dropdown .dropbtn {
  font-size: 18px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 80px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: #C44C46;
}

.dropdown-content {

  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.dropdown-content a {
  font-size: 14px;
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.message {
  font-family: Cambria (Headings);
  font-size: 20px;
}
