body{
	text-align:center;
	margin: 0px;
	border: 0px;
}

#header{
	width: auto;
	height: 110px;
	background: #00264d;
}

#gif{
	width: 180px;
	height: 180px;
}

img{
	width: 400px;
	height: 300px;
}

h1{
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}
	
.top{
	width: auto;
	height: 130px;
	background: #00264d;
	color:white;
}	
.vertical-menu {
  width: 200px; 
}

.vertical-menu a {
  background-color: #eee;
  color: black; 
  display: block;
  padding: 12px; 
  text-decoration: none; 
}

.vertical-menu a:hover {
  background-color: #ccc; 
}

.vertical-menu a.active {
  background-color: #000d1a;
  color: white;
}

table, th, td {
  border: 1px solid black;
  font-size:10px;
  background-color:#cce6ff;
}

